
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SportBookingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SportBookingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SportBookingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SportBookingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SportBookingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SportBookingDB]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccount](
	[BankAccountId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[BankTypeId] [int] NOT NULL,
	[AccountHolder] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BankAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankType]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankType](
	[BankTypeId] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BankTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[PostAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CourtId] [int] NULL,
	[TimeSlotId] [int] NULL,
	[StatusId] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Booking__73951AED0DCA61FE] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [int] NULL,
	[UserId] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[PostAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[ParentCommentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Court]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Court](
	[CourtId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityId] [int] NULL,
	[StatusId] [int] NULL,
	[CourtName] [nvarchar](100) NULL,
	[CategoryId] [int] NULL,
	[PricePerHour] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Court__C3A67C9A99E5D279] PRIMARY KEY CLUSTERED 
(
	[CourtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourtCategories]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourtCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facility]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facility](
	[FacilityId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[StatusId] [int] NOT NULL,
	[Location] [nvarchar](255) NULL,
	[Contact] [nvarchar](100) NULL,
 CONSTRAINT [PK__Facility__5FB08A74A68A9609] PRIMARY KEY CLUSTERED 
(
	[FacilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityId] [int] NULL,
	[BlogId] [int] NULL,
	[ImageUrl] [nvarchar](255) NOT NULL,
	[Order] [int] NULL,
	[Caption] [nvarchar](255) NULL,
 CONSTRAINT [PK__Facility__60B51202994B66DB] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NULL,
	[StatusId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[TimeStamp] [datetime] NULL,
 CONSTRAINT [PK__Payment__9B556A380DC9AEB0] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreateAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
	[StatusDescription] [nvarchar](500) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[TimeSlotId] [int] IDENTITY(1,1) NOT NULL,
	[FacilityId] [int] NULL,
	[StatusId] [int] NOT NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
 CONSTRAINT [PK__TimeSlot__41CC1F32B26722EE] PRIMARY KEY CLUSTERED 
(
	[TimeSlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[StatusId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[IsMale] [bit] NULL,
	[AvatarUrl] [nvarchar](255) NULL,
	[RoleId] [int] NOT NULL,
	[CreateAt] [datetime] NULL,
 CONSTRAINT [PK__User__1788CC4CFCBB3028] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserToken]    Script Date: 6/20/2025 11:27:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToken](
	[UserTokenId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[AccessToken] [nvarchar](255) NULL,
	[RefreshToken] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BankAccount] ON 

INSERT [dbo].[BankAccount] ([BankAccountId], [UserId], [AccountNumber], [BankTypeId], [AccountHolder]) VALUES (6, 6, N'1234567890', 1, N'Nguyen Van A')
INSERT [dbo].[BankAccount] ([BankAccountId], [UserId], [AccountNumber], [BankTypeId], [AccountHolder]) VALUES (7, 7, N'2345678901', 2, N'Tran Thi B')
INSERT [dbo].[BankAccount] ([BankAccountId], [UserId], [AccountNumber], [BankTypeId], [AccountHolder]) VALUES (8, 8, N'3456789012', 3, N'Le Van C')
SET IDENTITY_INSERT [dbo].[BankAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[BankType] ON 

INSERT [dbo].[BankType] ([BankTypeId], [BankName], [Description]) VALUES (1, N'Vietcombank', N'Ngân hàng TMCP Ngoại thương Việt Nam')
INSERT [dbo].[BankType] ([BankTypeId], [BankName], [Description]) VALUES (2, N'Vietinbank', N'Ngân hàng TMCP Công thương Việt Nam')
INSERT [dbo].[BankType] ([BankTypeId], [BankName], [Description]) VALUES (3, N'BIDV', N'Ngân hàng TMCP Đầu tư và Phát triển Việt Nam')
SET IDENTITY_INSERT [dbo].[BankType] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogId], [UserId], [Title], [Content], [PostAt], [UpdatedAt]) VALUES (17, 7, N'Bài viết 1', N'Nội dung blog 1', CAST(N'2025-06-19T23:59:52.050' AS DateTime), NULL)
INSERT [dbo].[Blog] ([BlogId], [UserId], [Title], [Content], [PostAt], [UpdatedAt]) VALUES (18, 8, N'Bài viết 2', N'Nội dung blog 2', CAST(N'2025-06-19T23:59:52.050' AS DateTime), NULL)
INSERT [dbo].[Blog] ([BlogId], [UserId], [Title], [Content], [PostAt], [UpdatedAt]) VALUES (19, 9, N'Bài viết 3', N'Nội dung blog 3', CAST(N'2025-06-19T23:59:52.050' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingId], [UserId], [CourtId], [TimeSlotId], [StatusId], [TotalPrice]) VALUES (10, 6, 8, 7, 1, CAST(200000.00 AS Decimal(10, 2)))
INSERT [dbo].[Booking] ([BookingId], [UserId], [CourtId], [TimeSlotId], [StatusId], [TotalPrice]) VALUES (11, 7, 9, 8, 1, CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[Booking] ([BookingId], [UserId], [CourtId], [TimeSlotId], [StatusId], [TotalPrice]) VALUES (12, 8, 10, 9, 2, CAST(100000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentId], [BlogId], [UserId], [Content], [PostAt], [UpdatedAt], [ParentCommentId]) VALUES (8, 17, 6, N'Bình luận 1', CAST(N'2025-06-20T00:01:00.933' AS DateTime), NULL, NULL)
INSERT [dbo].[Comment] ([CommentId], [BlogId], [UserId], [Content], [PostAt], [UpdatedAt], [ParentCommentId]) VALUES (9, 18, 7, N'Bình luận 2', CAST(N'2025-06-20T00:01:00.933' AS DateTime), NULL, NULL)
INSERT [dbo].[Comment] ([CommentId], [BlogId], [UserId], [Content], [PostAt], [UpdatedAt], [ParentCommentId]) VALUES (10, 19, 8, N'Bình luận 3', CAST(N'2025-06-20T00:01:00.933' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Court] ON 

INSERT [dbo].[Court] ([CourtId], [FacilityId], [StatusId], [CourtName], [CategoryId], [PricePerHour]) VALUES (8, 7, 1, N'Sân 1', 1, CAST(200000.00 AS Decimal(10, 2)))
INSERT [dbo].[Court] ([CourtId], [FacilityId], [StatusId], [CourtName], [CategoryId], [PricePerHour]) VALUES (9, 8, 1, N'Sân 2', 2, CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[Court] ([CourtId], [FacilityId], [StatusId], [CourtName], [CategoryId], [PricePerHour]) VALUES (10, 9, 2, N'Sân 3', 3, CAST(100000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Court] OFF
GO
SET IDENTITY_INSERT [dbo].[CourtCategories] ON 

INSERT [dbo].[CourtCategories] ([CategoryId], [CategoryName]) VALUES (1, N'Sân bóng đá mini')
INSERT [dbo].[CourtCategories] ([CategoryId], [CategoryName]) VALUES (2, N'Sân bóng rổ')
INSERT [dbo].[CourtCategories] ([CategoryId], [CategoryName]) VALUES (3, N'Sân cầu lông')
SET IDENTITY_INSERT [dbo].[CourtCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Facility] ON 

INSERT [dbo].[Facility] ([FacilityId], [UserId], [StatusId], [Location], [Contact]) VALUES (7, 6, 1, N'123 Lê Lợi, Q.1', N'0123456789')
INSERT [dbo].[Facility] ([FacilityId], [UserId], [StatusId], [Location], [Contact]) VALUES (8, 7, 1, N'234 Trần Hưng Đạo, Q.5', N'0123456790')
INSERT [dbo].[Facility] ([FacilityId], [UserId], [StatusId], [Location], [Contact]) VALUES (9, 8, 2, N'345 Nguyễn Huệ, Q.1', N'0123456791')
SET IDENTITY_INSERT [dbo].[Facility] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([ImageId], [FacilityId], [BlogId], [ImageUrl], [Order], [Caption]) VALUES (7, 7, 17, N'/images/1.jpg', 1, N'Ảnh 1')
INSERT [dbo].[Image] ([ImageId], [FacilityId], [BlogId], [ImageUrl], [Order], [Caption]) VALUES (8, 8, 18, N'/images/2.jpg', 2, N'Ảnh 2')
INSERT [dbo].[Image] ([ImageId], [FacilityId], [BlogId], [ImageUrl], [Order], [Caption]) VALUES (9, 9, 19, N'/images/3.jpg', 3, N'Ảnh 3')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [BookingId], [StatusId], [Amount], [TimeStamp]) VALUES (8, 10, 7, CAST(200000.00 AS Decimal(10, 2)), CAST(N'2025-06-20T00:04:19.447' AS DateTime))
INSERT [dbo].[Payment] ([PaymentId], [BookingId], [StatusId], [Amount], [TimeStamp]) VALUES (9, 11, 7, CAST(150000.00 AS Decimal(10, 2)), CAST(N'2025-06-20T00:04:19.447' AS DateTime))
INSERT [dbo].[Payment] ([PaymentId], [BookingId], [StatusId], [Amount], [TimeStamp]) VALUES (10, 12, 8, CAST(100000.00 AS Decimal(10, 2)), CAST(N'2025-06-20T00:04:19.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([RatingId], [BookingId], [Rating], [Comment], [CreateAt]) VALUES (7, 10, 5, N'Xuất sắc', CAST(N'2025-06-20T00:05:16.483' AS DateTime))
INSERT [dbo].[Rating] ([RatingId], [BookingId], [Rating], [Comment], [CreateAt]) VALUES (8, 11, 4, N'Tốt', CAST(N'2025-06-20T00:05:16.483' AS DateTime))
INSERT [dbo].[Rating] ([RatingId], [BookingId], [Rating], [Comment], [CreateAt]) VALUES (9, 12, 3, N'Bình thường', CAST(N'2025-06-20T00:05:16.483' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'CourtOwner')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Player')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [StatusName], [StatusDescription]) VALUES (1, N'Active', N'Hoạt động')
INSERT [dbo].[Status] ([StatusId], [StatusName], [StatusDescription]) VALUES (2, N'Inactive', N'Không hoạt động')
INSERT [dbo].[Status] ([StatusId], [StatusName], [StatusDescription]) VALUES (3, N'Pending', N'Chờ duyệt')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] ON 

INSERT [dbo].[TimeSlot] ([TimeSlotId], [FacilityId], [StatusId], [StartTime], [EndTime]) VALUES (7, 7, 1, CAST(N'06:00:00' AS Time), CAST(N'07:00:00' AS Time))
INSERT [dbo].[TimeSlot] ([TimeSlotId], [FacilityId], [StatusId], [StartTime], [EndTime]) VALUES (8, 8, 1, CAST(N'07:00:00' AS Time), CAST(N'08:00:00' AS Time))
INSERT [dbo].[TimeSlot] ([TimeSlotId], [FacilityId], [StatusId], [StartTime], [EndTime]) VALUES (9, 9, 1, CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[TimeSlot] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [StatusId], [Username], [Password], [Email], [Phone], [IsMale], [AvatarUrl], [RoleId], [CreateAt]) VALUES (6, 1, N'user1', N'pass1', N'user1@email.com', N'0900000001', 1, N'/avatar1.jpg', 1, CAST(N'2025-06-19T23:46:47.507' AS DateTime))
INSERT [dbo].[User] ([UserId], [StatusId], [Username], [Password], [Email], [Phone], [IsMale], [AvatarUrl], [RoleId], [CreateAt]) VALUES (7, 1, N'user2', N'pass2', N'user2@email.com', N'0900000002', 0, N'/avatar2.jpg', 2, CAST(N'2025-06-19T23:46:47.507' AS DateTime))
INSERT [dbo].[User] ([UserId], [StatusId], [Username], [Password], [Email], [Phone], [IsMale], [AvatarUrl], [RoleId], [CreateAt]) VALUES (8, 1, N'user3', N'pass3', N'user3@email.com', N'0900000003', 1, N'/avatar3.jpg', 3, CAST(N'2025-06-19T23:46:47.507' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserToken] ON 

INSERT [dbo].[UserToken] ([UserTokenId], [UserId], [AccessToken], [RefreshToken]) VALUES (17, 7, N'access1', N'refresh1')
INSERT [dbo].[UserToken] ([UserTokenId], [UserId], [AccessToken], [RefreshToken]) VALUES (18, 8, N'access2', N'refresh2')
INSERT [dbo].[UserToken] ([UserTokenId], [UserId], [AccessToken], [RefreshToken]) VALUES (19, 9, N'access3', N'refresh3')
SET IDENTITY_INSERT [dbo].[UserToken] OFF
GO
/****** Object:  Index [UQ__BankAcco__1788CC4D5620CE97]    Script Date: 6/20/2025 11:27:38 AM ******/
ALTER TABLE [dbo].[BankAccount] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BankType__DA9ADFAA11A8C8EA]    Script Date: 6/20/2025 11:27:38 AM ******/
ALTER TABLE [dbo].[BankType] ADD UNIQUE NONCLUSTERED 
(
	[BankName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B61604983BD21]    Script Date: 6/20/2025 11:27:38 AM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E4EC4F884F]    Script Date: 6/20/2025 11:27:38 AM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__536C85E4EC4F884F] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534D6ABFED3]    Script Date: 6/20/2025 11:27:38 AM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ__User__A9D10534D6ABFED3] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [PostAt]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [PostAt]
GO
ALTER TABLE [dbo].[Image] ADD  CONSTRAINT [DF__FacilityI__Order__5CD6CB2B]  DEFAULT ((1)) FOR [Order]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF__Payment__TimeSta__6EF57B66]  DEFAULT (getdate()) FOR [TimeStamp]
GO
ALTER TABLE [dbo].[Rating] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[TimeSlot] ADD  CONSTRAINT [DF__TimeSlot__IsAvai__66603565]  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__IsEnable__3C69FB99]  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__CreateAt__3E52440B]  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[BankAccount]  WITH CHECK ADD FOREIGN KEY([BankTypeId])
REFERENCES [dbo].[BankType] ([BankTypeId])
GO
ALTER TABLE [dbo].[BankAccount]  WITH CHECK ADD  CONSTRAINT [FK__BankAccou__UserI__44FF419A] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BankAccount] CHECK CONSTRAINT [FK__BankAccou__UserI__44FF419A]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK__Blog__UserId__4BAC3F29] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK__Blog__UserId__4BAC3F29]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__CourtId__6A30C649] FOREIGN KEY([CourtId])
REFERENCES [dbo].[Court] ([CourtId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__CourtId__6A30C649]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__TimeSlo__6B24EA82] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlot] ([TimeSlotId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__TimeSlo__6B24EA82]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__UserId__693CA210] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__UserId__693CA210]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Status]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([BlogId])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ParentCommentId])
REFERENCES [dbo].[Comment] ([CommentId])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__UserId__5441852A] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__UserId__5441852A]
GO
ALTER TABLE [dbo].[Court]  WITH CHECK ADD  CONSTRAINT [FK__Court__CategoryI__628FA481] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[CourtCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[Court] CHECK CONSTRAINT [FK__Court__CategoryI__628FA481]
GO
ALTER TABLE [dbo].[Court]  WITH CHECK ADD  CONSTRAINT [FK__Court__FacilityI__619B8048] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[Facility] ([FacilityId])
GO
ALTER TABLE [dbo].[Court] CHECK CONSTRAINT [FK__Court__FacilityI__619B8048]
GO
ALTER TABLE [dbo].[Court]  WITH CHECK ADD  CONSTRAINT [FK_Court_Status1] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Court] CHECK CONSTRAINT [FK_Court_Status1]
GO
ALTER TABLE [dbo].[Facility]  WITH CHECK ADD  CONSTRAINT [FK__Facility__UserId__59063A47] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Facility] CHECK CONSTRAINT [FK__Facility__UserId__59063A47]
GO
ALTER TABLE [dbo].[Facility]  WITH CHECK ADD  CONSTRAINT [FK_Facility_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Facility] CHECK CONSTRAINT [FK_Facility_Status]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK__FacilityI__Facil__5BE2A6F2] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[Facility] ([FacilityId])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK__FacilityI__Facil__5BE2A6F2]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Blog] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([BlogId])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Blog]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK__Payment__Booking__6E01572D] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK__Payment__Booking__6E01572D]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Status]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK__Rating__BookingI__71D1E811] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK__Rating__BookingI__71D1E811]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK__TimeSlot__Facili__656C112C] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[Facility] ([FacilityId])
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK__TimeSlot__Facili__656C112C]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK_TimeSlot_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK_TimeSlot_Status]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__User__RoleId__3D5E1FD2] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__User__RoleId__3D5E1FD2]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Status]
GO
ALTER TABLE [dbo].[UserToken]  WITH CHECK ADD  CONSTRAINT [FK__UserToken__UserI__48CFD27E] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserToken] CHECK CONSTRAINT [FK__UserToken__UserI__48CFD27E]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO

ALTER TABLE [dbo].[Image]
ADD [UserId] INT NULL;

ALTER TABLE [dbo].[Image]
ADD CONSTRAINT FK_Image_User FOREIGN KEY ([UserId])
REFERENCES [dbo].[User] ([UserId]);
